<ion-view view-title="Binary Converter">
    <ion-content>
        <body>

            Conversion Type: <br>
            <!--selects what type of conversion binary to decimal -->
            <!--or decimal to binary value defined by which comes first-->
            <select name="select" onchange="S()">
                <option value="blank"></option>
                <option value="Binary">Binary to Decimal</option>
                <option value="Decimal">Decimal to Binary</option>
            </select><br>

            <!-- until we choose what what type of conversion we want to -->
            <!-- do we shouldn't be able to start typing things into the boxes -->
            <div id="choice" style="display:none">
                Input:<br>
                <input id="input" type="text"><br>
                Output:<br>
                <!-- if we choose binary to decimal we need to choose whether to interpret -->
                <!-- the input binary as one's complement, unsigned, and/or twos complement -->
                <!-- if we choose decimal to binary we need to choose whether to output -->
                <!-- one's complement, unsigned, and/or twos complement ALTHOUGH nothing -->
                <!-- will not change unless puts in a negative number -->
                <!-- if one gets clicked it calls a function addIn that makes the input box shown -->
                <input id="oneCheck" type="checkbox" onclick="addIn('one')">Ones Complement<br>
                <input id="twoCheck" type="checkbox" onclick="addIn('two')">Twos Complement<br>
                <input id="unsignCheck" type="checkbox" onclick="addIn('unsign')">Unsigned<br>
                <div id="onein" style="display:none">
                    <input id="one" type="text"> Ones Complement
                </div>
                <div id="twoin" style="display:none">
                    <input id="two" type="text"> Twos Complement
                </div>
                <div id="unsignin" style="display:none">
                    <input id="unsign" type="text"> Unsigned
                </div>
                <button type="button" id="convert" style="display:none" onclick="BinaryConversion()">Convert!</button>
            </div>
            <p id="para1"> para1 </p>
            <p id="para2"> para2 </p>            


        </body>
    </ion-content>
</ion-view>