<ion-view view-title="What is Binary?">
  <ion-content>
      <div class="has-header padding">
          <h1>Binary Basics</h1>
          Binary is a form of counting. You know the decimal system, right? We use the digits 0 - 9 to represent amounts. We have
          ten fingers and ten toes, so it makes sense to count in base 10 (also written as base<sub>10</sub>).
          <br /><br />
          But computers are different. There aren't ten possible states of existence for computers; they don't have ten fingers and 
          ten toes. Instead, computers read whether a switch has electricity or not. Electricity has only two states: on or off. This 
          is represented as 1 (on) or 0 (off) in binary. Therefore, computers count in base 2 (or base<sub>2</sub>). This is an important 
          concept to understand for anyone who works with computers. Computer engineers create circuits that implement functions 
          using binary and computer scientists must be able to program computers that use those circuits. 
          <br /><br />
          <button class="button button-positive">Next: Counting in Binary</button>
      </div>
  </ion-content>
</ion-view>
